*.pyc
/outputs*/
/cifar*/
/tmp/
/run*/
/finalvis/
/cifar*/
/data*/
/stats_avg/
/stats_one_task/
/kernel*
/distribution*
/visualization.ipynb
/kernel_visualization.ipynb
/replicate_experiment_1.sh
/replicate_experiment_2.sh
/replicate_experiment_3.sh
/variable_class.txt
/visualization_during.py
/data/
/external_libs/

